<div class="card" class="text-center">
  <div class="text-center">
    <div class="img-resize">
      <a routerLink="/detail/{{collegue.pseudo}}" routerLinkActive="active">
        <img class="card-img-top" src="{{collegue.url}}" alt="image">
      </a>
    </div>
    <div class="card-body">
      <h3 class="card-title">
        {{collegue.pseudo | uppercase}}
      </h3>
      <h5>{{collegue.score}}</h5>
    </div>
    <app-une-opinion (opinion)="setOpinion($event)"></app-une-opinion>
  </div>
</div>