<div class="container">
  <form>
    <h1>Top Collègues</h1>
    <p>Les meilleurs collègues du moment</p>
    <div class="form-group">
      <label for="exampleInputEmail1">Pseudo</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Pseudo" #pseudo>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">URL image</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="URL image" #imageUrl>
    </div>
    <button (click)="add(pseudo, imageUrl)">Ajouter un nouveau collègue</button>
    <p>
      <ngb-alert *ngIf="opened" type="success" [dismissible]="true" (close)="successMessage=null; opened=false;">
        {{ successMessage }}
      </ngb-alert>
    </p>
  </form>

  <div class="card-deck">
    <div *ngFor="let col of collegues">
      <app-un-collegue [collegue]="col"></app-un-collegue>
    </div>
  </div>
</div>