<div class="container">
  <form>
    <h1>Top Collègues</h1>
    <p>Les meilleurs collègues du moment</p>
    <div class="form-group">
      <label for="pseudo">Pseudo</label>
      <input type="text" class="form-control" placeholder="Pseudo" #pseudo required>
    </div>
    <div class="form-group">
      <label for="urlImage">URL image</label>
      <input type="text" class="form-control" placeholder="URL image" #imageUrl>
    </div>
    <button (click)="add(pseudo, imageUrl)">Ajouter un nouveau collègue</button>
    <p>
      <ngb-alert *ngIf="opened" type="success" [dismissible]="true" (close)="successMessage=null; opened=false;">
        {{ successMessage }}
      </ngb-alert>
    </p>
  </form>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/classique" routerLinkActive="active-link">Classique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tableau" routerLinkActive="active-link">Tableau</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/carrousel" routerLinkActive="active-link">Carrousel</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>