<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pseudo</th>
      <th scope="col">Score</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let col of collegues">
      <th scope="row">
        <div class="img-resize">
          <img class="card-img-top" src="{{col.url}}" alt="image">
        </div>
      </th>
      <td>{{col.pseudo}}</td>
      <td>{{col.score}}</td>
      <td>
        <app-une-opinion (opinion)="setOpinion($event,col)"></app-une-opinion>
        <app-commentaire [collegue]="col"></app-commentaire>
      </td>
    </tr>
  </tbody>
</table>